@import '../../base/main';

.user {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-list {
  display: flex;
  flex-direction: column;
}

.input-list__item {
  margin-bottom: 10px;
  width: 250px;
  border-radius: 6px;
  border-color: var(--color-text-second);
}

.img-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
