@import '../../../base/main.scss';

.btn--without-border {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: auto;
    padding-right: 12px;

    font-family: var(--font-family-main);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: 0.04em;
    color: var(--color-text-second);
    background-color: transparent;

    &:hover,
    &:focus {
        color: var(--color-accent)
    }

    border: none;
    cursor: pointer;

    transform: all var(--linear-anim);
    transition: all var(--linear-anim);

    &:hover svg {
        stroke: var(--color-accent);
    }

    @include mq(tablet) {
        position: absolute;
        bottom: 24px;
        left: 32px;
    }

    @include mq(desktop) {
        position: static;
        margin-left: 16px;
        padding-right: 0px;
    }

    &>svg {
        margin-right: 8px;
        stroke: var(--color-accent);

        &:hover,
        &:focus {
            fill: var(--color-accent);
        }
    }
}