:global {
    #popup-root {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 45;

        width: 100vw;
        height: 100vh;

        opacity: 1;
        visibility: visible;
        display: flex;

        background-color: #0000006b;
        transition: opacity .3s linear 50ms, visibility .3s linear 50ms;
    }

    #popup-root {
        &.is-hide {
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            display: none;

            width: 0;
            height: 0;
        }
    }

    #popup-register-root {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 45;

        width: 100vw;
        height: 100vh;

        opacity: 1;
        visibility: visible;
        display: flex;

        background-color: #0000006b;
        transition: opacity .3s linear 50ms, visibility .3s linear 50ms;
    }



    #popup-register-root {
        &.is-hide {
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            display: none;

            width: 0;
            height: 0;
        }
    }

    #popup-changepassword-root {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 45;

        width: 100vw;
        height: 100vh;

        opacity: 1;
        visibility: visible;
        display: flex;

        background-color: #0000006b;
        transition: opacity .3s linear 50ms, visibility .3s linear 50ms;
    }



    #popup-changepassword-root {
        &.is-hide {
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            display: none;

            width: 0;
            height: 0;
        }
    }
}
