:global {
    .e-control.e-treeview.e-lib.treeview-external-drag.e-fullrow-wrap.e-interaction.e-draggable.e-droppable.e-touch.e-keyboard >.e-list-parent {
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }

    .e-fullrow {
        display: none;
    }
}